.header {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__home {
    background-image: linear-gradient(
        to right bottom,
        rgba(238, 240, 247, 0.75),
        rgba(55, 69, 116, 0.75)
      ),
      url(../img/home-header.jpg);
    height: 80vh;
  }

  &__contact {
    height: 60vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(238, 240, 247, 0.75),
        rgba(55, 69, 116, 0.75)
      ),
      url(../img/contact-header.jpg);
  }

  &__link {
    margin-top: 2rem;
  }
}
