*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $color-grey;
  font-family: $font-text;
  color: $color-primary;
}
